﻿
<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Title</th>

		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="per in movies">
			<td>{{per.Id}}</td>
			<td>{{per.Title}}</td>
			
		</tr>
	</tbody>
</table>
