﻿@using System.Web.Optimization
@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="Example">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
</head>
<body ng-controller="ApplicationController">
<div class="container">
    <div ui-view></div>
</div>
    @Scripts.Render("~/bundles/libs")
    @Scripts.Render("~/bundles/app")
</body>
</html>