﻿ 
<table class="table">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="per in clients">
            <td>{{per.FirstName}}</td>
            <td>{{per.LastName}}</td>
        </tr>
    </tbody>
</table>

