﻿

<table class="table">
    <thead>
        <tr>
            <th>Full name</th>
            <th>Title</th>
            <th>Serial</th>
            <th>Buy date</th>
            <th>Trash date</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="movieCopyClient in moviecopyclients">
            <td>{{movieCopyClient.FirstName + ' ' + movieCopyClient.LastName}}</td>
            <td>{{movieCopyClient.Title}}</td>
            <td>{{movieCopyClient.SerialNumber}}</td>
            <td>{{movieCopyClient.TakeDate | date:'MM/dd/yyyy h:mma'}}</td>
            <td>{{movieCopyClient.BackDate | date:'MM/dd/yyyy h:mma'}}</td>
        </tr>
    </tbody>
</table>